@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  padding: 40px;
  background-color: #f4f4f4;
  color: white;
}

/* 프로필 이미지 스타일 */
.profile-section {
  flex: 0 0 180px;
  margin-right: 30px;
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 정보 섹션 스타일 */
.info-section {
  text-align: left;
  max-width: 600px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.bio {
  font-family: 'S-CoreDream-3Light';
  font-size: 20px;
  margin-top: 10px;
  color: rgb(22, 22, 22);
}

.description {
  font-family: 'S-CoreDream-3Light';
  font-size: 16px;
  margin-top: 10px;
  color: #494949;
}

/* 소셜 링크 스타일 */
.social-links {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-links a {
  font-family: 'S-CoreDream-3Light';
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease;
}

.social-links a:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* 기술 스택 스타일 */
.tech-stack {
  margin-top: 30px;
}

.tech-stack h3 {
  font-family: 'S-CoreDream-3Light';
  color: black;
  font-size: 22px;
  margin-bottom: 10px;
}

.stack-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stack-list span {
  font-family: 'S-CoreDream-3Light';
  background: rgba(255, 255, 255, 0.2);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(22, 22, 22);
}
